Package: com.webbrowser.ios
Name: WebBrowser
Version: 1.1.0
Architecture: iphoneos-arm
Description: iOS WebView browser shell
Maintainer: xiaochaodada
Author: xiaochaodada
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
